body {

    background-color: #eba8adf4;
    font-family:Arial, Helvetica, sans-serif;
    display: flex;/* usa o modelo flexBox, conceito de caixa para posicionamento */
    align-items: center;  /* centralizar verticalmente */
    justify-content: center;  /* centraizar horizontal */
    height: 100vh; /* define a altura da tela - 100% */
}
.card {  
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0,1);
    text-align: center;

}
button {
    background:  #007bff;
    color: white;
    border: none;
    padding: 10px 15px; /*10px superior e inferior e 15px é direita e esquerda*/
    border-radius: 5px; /* borda*/
    cursor: pointer; /* ponteiro do mouse*/
}
button:houver{  
    background-color: black;
}
.image {
    border-radius: 50%;  /* cantos arredondados de 50% */
    width: 130px;   /* largura da imagem */
    height: 130px;   /* alura da imagem */ 
    margin-bottom: 10px; /* espaçamento externo abaixo */
}